.user-bookings {
    margin-inline: 2cm;
    margin-block: 1cm;
}

.user-bookings h3 {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}


.card-header{
    height: 2cm;
    padding: 0.5cm;
    margin-bottom: 0.5cm;
}

.no{
    text-align: center;
}
