<div class="container">
  <h1>Popular Attractions Near Page, AZ</h1>
  <div class="tour-description">
    <img
      src="https://picsum.photos/seed/picsum/200/300"
      alt="Texas Tour Vehicle"
    />

    <div class="content">
      <h3>Texas Private Tours</h3>
      <p>
        Texas Private Tours is a leading private tour agency in Northern
        Texas. We specialize in safe & sanitary custom tours. We pick up
        guests in Flagstaff and spend our day exploring scenic Texas in an
        intimate setting with an expert guide in comfort.
      </p>
      <button class="learn-more">Learn More</button>
    </div>
  </div>

  <div class="divider"></div>
  <!-- Divider line between components -->

  <div class="tour-description">
    <img
      src="https://picsum.photos/200/300?grayscale"
      alt="Antelope Canyon"
    />

    <div class="content">
      <h3>Antelope Canyon and Horseshoe Bend Tour</h3>
      <p>
        Spend a day visiting two of the most iconic landscapes in the
        American Southwest: Antelope Canyon & Horseshoe Bend. Our Lower
        Antelope Canyon Tours takes you into the heart of one of the most
        spectacular slot canyons in the world.
      </p>
      <button class="learn-more">Learn More</button>
    </div>
  </div>
</div>
