<div class="banner">
  <div class="banner-content">Find Your Dream Retreat<br></div>
  <div class="description"> Explore vacation homes, and more...</div>
</div>
<!-- trip-search.component.html -->
<div class="trip-container ">
  <div class="head"><h2>Select Your Trip Type</h2></div>
<div class="trip-type-container">
  <div class="trip-type-card" [ngClass]="{'selected': tripType === 'one-way'}" (click)="toggleTripType('one-way')">
    <h3>One-Way</h3>
  </div>
  <div class="trip-type-card" [ngClass]="{'selected': tripType === 'round-trip'}" (click)="toggleTripType('round-trip')">
    <h3>Round-Trip</h3>
  </div>
</div>

<div class="options-container">
  <div *ngIf="tripType === 'one-way'" class="option-card">
    <form (ngSubmit)="searchFlights()" #flightSearchForm="ngForm">
      <div class="form-group-loc">
        <div class="input-group">
          <label for="departure-airport">Departure Airport:</label>
          <input type="text" id="departure-airport" [(ngModel)]="departureAirport" name="departureAirport">
        </div>
        
       
        <div class="input-group">
          <label for="arrival-airport">Arrival Airport:</label>
          <input type="text" id="arrival-airport" [(ngModel)]="arrivalAirport" name="arrivalAirport">
        </div>      
      </div>
      <div class="form-group-data">
        <div class="input-group">
          <label for="departure-date">Departure Date:&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="date" id="departure-date" [(ngModel)]="departureDate" name="departureDate" required>
        </div>
        <div class="input-group">
          <label for="passengers">Passengers:&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="number" id="passengers" [(ngModel)]="passengers" name="passengers" required>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="submit-button" [disabled]="!flightSearchForm.valid">Search Flights</button>
      </div>
    </form>
  </div> 
  </div>

  <div *ngIf="tripType === 'round-trip'" class="option-card">
    <form (ngSubmit)="searchFlights()" #flightSearchForm="ngForm">
      <div class="form-group-loc">
        <div class="input-group">
          <label for="departure-airport">Departure Airport:</label>
          <input type="text" id="departure-airport" [(ngModel)]="departureAirport" name="departureAirport">
        </div>
        
       
        <div class="input-group">
          <label for="arrival-airport">Arrival Airport:</label>
          <input type="text" id="arrival-airport" [(ngModel)]="arrivalAirport" name="arrivalAirport">
        </div>      
      </div>
      <div class="form-group-data">
        <div class="input-group">
          <label for="departure-date">Departure Date:&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="date" id="departure-date" [(ngModel)]="departureDate" name="departureDate" required>
        </div>
        <div class="input-group">
          <label for="return-date">Return Date:&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="date" id="return-date" [(ngModel)]="returnDate" name="returnDate" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="passengers">Passengers:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="number" id="passengers" [(ngModel)]="passengers" name="passengers" required>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="submit-button" [disabled]="!flightSearchForm.valid">Search Flights</button>
      </div>
    </form>
  </div>  
</div>

<!-- flights.component.html -->
<div class="flight-container">
  <div *ngIf="searchResults && searchResults.length > 0; else noFlights">
    <h1 class="heading"><b>Flight Search Results</b></h1>
    <div class="card-container">
      <div class="ticket" *ngFor="let flight of searchResults.slice(0, 10)">
        <div class="card-header">
          <h2>{{ flight.airline }}</h2>
        </div>
        <div class="main-data">
          <p class="main-data-item">Last Ticketing Date: {{ flight.lastTicketingDate }}</p>
          <p class="main-data-item">Number of Bookable Seats: {{ flight.numberOfBookableSeats }}</p>
          <!-- Add more main data here -->
        </div>
        <div class="card-footer">
          <button mat-button class="details-button" (click)="toggleDetails(flight)">Show Details</button>
        </div>
        <div class="details" *ngIf="flight.showDetails">
          <div class="detail-row" *ngFor="let travelerPricing of flight.travelerPricings">
            <p class="detail-item">Traveler Type: {{ travelerPricing.travelerType }}</p>
            <p class="detail-item">Price: {{ travelerPricing.price.total }} {{ travelerPricing.price.currency }}</p>
            <!-- Add more detailed data here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noFlights>
    
  </ng-template>
</div>
