<div class="banner">
    <div class="banner-content"><b>Find Your Dream Retreat</b><br></div>
    <div class="description"> Explore vacation homes, and more...</div>
</div>
<div class="search-card">
    <div class="head">Search cars for rental</div>
    <form (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="input-field">
          <input [(ngModel)]="pickupLocation" placeholder =" From where ? " name="departureStation" required>
        </div>
        <div class="input-field">
            <input type="date" [(ngModel)]="rentalstartDate" placeholder =" When are you going " name="departureDate" required>
          </div>
        <div class="input-field">
          <input type="date" [(ngModel)]="rentalendDate" placeholder =" When are you going " name="departureDate" required>
        </div>
        <button type="submit">Search </button>
      </div>
    </form>
</div>
