<div class="main">
  <div class="banner">
    <div class="banner-content"><b>Find Your Dream Retreat</b><br /></div>
    <div class="description">Explore vacation homes, and more...</div>
  </div>
  <div class="places">
    <div class="places-heading">
      <h1><b>Trending Destinations</b></h1>
    </div>
  </div>
  <div class="place-cards">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/newyork.jpg')"
          >
            <h5 class="place-title"><b>NewYork</b></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/london.jpg')"
          >
            <h5 class="place-title"><b>London</b></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/paris.jpg')"
          >
            <h5 class="place-title"><b>Paris</b></h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/seoul.jpg')"
          >
            <h5 class="place-title"><b> Seoul</b></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/istanbul.jpg')"
          >
            <h5 class="place-title"><b>istanbul</b></h5>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="place-card"
            routerLink="/Attract"
            routerLinkActive="active-link"
            style="background-image: url('..\\../assets/img/Rome.jpg')"
          >
            <h5 class="place-title"><b>Rome</b></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
